/* Addjust list size on small screen */
.small-window ul {
    padding-left: 1rem;
    font-size: 14px;
}

#experience {
    border: 1.5px solid #393E46;
    border-radius: 5px;
    padding: 1rem;
    height: 75vh;
    width: 70vw;
    flex-shrink: 0;
}

.small-window #experience {
    height: 80vh;
    width: 90vw;
}

#experience-scroll-box {
    width: min-content;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    gap: 10px;
    max-width: 100%;
    padding: 0vw 15vw;
    overscroll-behavior-x: contain;
}

#event-title-panel {
    border-right: 1px solid #393E46;
    border-bottom: none;
    width: 35%;
    padding-right: 1rem;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.small-window #event-title-panel {
    border-right: none;
    border-bottom: 1px solid #393E46;
    width: 100%;
    padding-right: 0;
    padding-bottom: 1rem;
    gap: 0.5rem;
}

#circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #B55400;
    opacity: 75%;
}

#line {
    opacity: 75%;
    width: 0;
    border-left: 0.5px solid #B55400;
}

#noline {
    width: 0;
}

#timeline-body {
    justify-content: flex-start;
    width: 100%;
}

#timeline-container {
    gap: 0.5rem;
}

#timeline-connectors {
    align-items: center;
}

#timeline-body h5,h6 {
    margin-top: 0;
    padding-top: 0;
}



/* Highlighted Credentials */
.cred {
    font-family: 'Space Mono', monospace;
    background-color: #393E46;
    padding: 0px 4px;
}