.cred {
    font-family: 'Space Mono', monospace;
    background-color: #393E46;
    padding: 0px 4px;
}

.experience {
    border: 1.5px solid #393E46;
    border-radius: 5px;
    padding: 1rem;
}

.experience-scroll-box {
    width: min-content;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    gap: 10px;
    max-width: 100%;
    padding: 0vw 15vw;
    overscroll-behavior-x: contain;
}
