@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;400;700&family=Space+Mono&display=swap');

.App {
  text-align: center;
  font-family: 'Chivo', sans-serif;
  font-family: 'Space Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.terminal {
  font-family: 'Space Mono', monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ::-webkit-scrollbar {
  width: 50px;
} */

/* Track
::-webkit-scrollbar-track {
  background: #FF0000;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #FF0000;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #FF0000;
} */
