@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;400;700&family=Space+Mono&display=swap');

:root {
  --primary: #B55400;
  --secondary: #393E46;
  --background: #222831;
  --background-light: var(--secondary);
  --text: #ede4d3;
}

a {
  color: var(--text);
}

.App {
  text-align: center;
  font-family: 'Chivo', sans-serif;
  font-family: 'Space Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.terminal {
  font-family: 'Space Mono', monospace;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.snap-container {
  scroll-snap-type: x mandatory;
}

.snap-item {
  scroll-snap-align: center;
}

.event-separator-svg {
  /* outline: 2px solid lime; */
  color: white;
}